---
http_interactions:
- request:
    method: get
    uri: http://www.milehighbuzz.co/api/v1/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"fd189aed31e4867da39bf3b776e2d18d"'
    body:
      encoding: UTF-8
      string: '[{"id":6,"user_id":3,"store_id":69,"rating":"Thumbs Up","title":"Great
        Buds","body":"This was a very nice experience. Very heady with raspberry and
        rose petal overtones. Recommended.","created_at":"2014-01-20T18:05:21.651Z","updated_at":"2014-01-20T18:05:21.651Z"},{"id":7,"user_id":1,"store_id":69,"rating":"Thumbs
        Down","title":"Poor Buds","body":"This was a very bad experience. Very skunky
        without much of a buzz. Not recommended.","created_at":"2014-01-20T18:05:21.651Z","updated_at":"2014-01-20T18:05:21.651Z"},{"id":8,"user_id":1,"store_id":122,"rating":"Thumbs
        Up","title":"Pretty great!","body":"Wonderful service and attention to detail","created_at":"2014-01-22T01:13:55.238Z","updated_at":"2014-01-22T[...]
