---
http_interactions:
- request:
    method: get
    uri: http://www.milehighbuzz.co/api/v1/reviews/store/denver-relief
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"087fa36220a88f8ea2d7dde9f7cfb15a"'
    body:
      encoding: UTF-8
      string: '[{"slug":"denver-relief"},{"id":6,"user_id":3,"store_id":69,"rating":"Thumbs
        Up","title":"Great Buds","body":"This was a very nice experience. Very heady
        with raspberry and rose petal overtones. Recommended.","created_at":"2014-01-20T18:05:21.651Z","updated_at":"2014-01-20T18:05:21.651Z"},{"id":7,"user_id":1,"store_id":69,"rating":"Thumbs
        Down","title":"Poor Buds","body":"This was a very bad experience. Very skunky
        without much of a buzz. Not recommended.","created_at":"2014-01-20T18:05:21.651Z","updated_at":"2014-01-20T18:05:21.651Z"},{"id":18,"user_id":1,"store_id":69,"rating":"Thumbs
        Up","title":"Really Great!","body":"The staff is extremely knowledgeable about
        all their products and their OG 18 tested highest in THC in High Times Magazine
        ever! ","created_at":"2014-01-23T15:59:48.525Z","updated_at":"2014-01-23T15:59:48.525Z"}]'
  recorded_at: Thu, 23 Jan 2014 23:32:22 GMT
recorded_with: VCR 2.8.0
